<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
	  "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <display-name>ZipViewServlet</display-name>
  <description>Zip Viewing Servlet</description>

  <context-param>
    <param-name>Webmaster</param-name>
    <param-value>lmfr@C-Science.no-ip.com</param-value>
  </context-param>

  <servlet>
    <servlet-name>zipview</servlet-name>
    <servlet-class>ZipViewServlet</servlet-class>
    <init-param>
      <param-name>initXmlFile</param-name>
      <param-value>/home/lmfr/work/zipservlet/tomcat/conf/zipfiles.xml</param-value>
    </init-param>

    <servlet-mapping>
      <servlet-name>zipview</servlet-name>
      <url-pattern>/zipview/*</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
  </servlet>
</web-app>
